services:
  backend:
    build: ./backend
    ports:
      - "8000:8000"
    environment:
      - DATABASE_URL=postgresql://admin:password@database:5432/hotel_booking
    depends_on:
      - database
    networks:
      - hotel-booking
    volumes:
      - ./backend:/app

  frontend:
    build: ./frontend
    ports:
      - "5173:5173"
    depends_on:
      - backend
    networks:
      - hotel-booking

  database:
    build: ./database
    environment:
      POSTGRES_DB: hotel_booking
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"
    networks:
      - hotel-booking
    volumes:
      - ./database/postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -d $${POSTGRES_DB} -U $${POSTGRES_USER}"]
      interval: 10s
      timeout: 5s
      retries: 5

  adminer:
    image: adminer
    container_name: adminer
    restart: always
    ports:
      - "8080:8080"
    networks:
      - hotel-booking
    depends_on:
      - database

networks:
  hotel-booking:
    driver: bridge

volumes:
  postgres_data: